<section class="about-us" id="about_us">
  <div class="container">
    <h2 class="about-us_title">About Me</h2>
    <p class="about-us_text">
      As a skilled video editor with three years of experience, I bring a
      creative touch to every frame and a passion for transforming footage into
      compelling visual stories
    </p>
    <a
      href="./../public/Dark-Space-Theme-Creative-Portfolio-Presentation_compressed.pdf"
      download
      class="about-us_download-btn"
      >Download CV</a
    >
    <div class="about-us_option-list">
      <ul class="about-us_list">
        <li class="about-us_list-item">
          <button
            type="button"
            class="about-us_list-item-title about-us_active-option exp-btn"
          >
            Experience
          </button>
        </li>
      </ul>
      <div class="about-us_expirience">
        <ul class="about-us_expirience-list">
          <li class="about-us_expirience-list-item expirience-column_1">
            <span class="expirience-item-years">2019 - 2020</span>
            <p class="expirience-item-text">YouTube video editor</p>
          </li>
          <li class="about-us_expirience-list-item expirience-column_2">
            <p class="expirience-item-text">Video Editor</p>
          </li>
          <li class="about-us_expirience-list-item expirience-column_3">
            <p class="expirience-item-text_2">
              With hands-on experience as a YouTube video editor, I've honed my
              skills in crafting engaging and visually captivating content that
              resonates with online audiences.
            </p>
          </li>
        </ul>
        <ul class="about-us_expirience-list">
          <li class="about-us_expirience-list-item expirience-column_1">
            <span class="expirience-item-years">2021 - 2022</span>
            <p class="expirience-item-text">UpWork</p>
          </li>
          <li class="about-us_expirience-list-item expirience-column_2">
            <p class="expirience-item-text">Video Editor</p>
          </li>
          <li class="about-us_expirience-list-item expirience-column_3">
            <p class="expirience-item-text_2">
              My UpWork experience as a video editor showcases my global client
              collaborations and commitment to top-quality results.
            </p>
          </li>
        </ul>
        <ul class="about-us_expirience-list">
          <li class="about-us_expirience-list-item expirience-column_1">
            <span class="expirience-item-years">2022 - 2023</span>
            <p class="expirience-item-text">Fiverr</p>
          </li>
          <li class="about-us_expirience-list-item expirience-column_2">
            <p class="expirience-item-text">Video Editor</p>
          </li>
          <li class="about-us_expirience-list-item expirience-column_3">
            <p class="expirience-item-text_2">
              My experience on Fiverr as a video editor has allowed me to
              deliver high-quality, customized video solutions to a diverse
              range of clients, consistently exceeding their expectations.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
