<section class="about-us" id="about_us">
  <div class="container">
    <h2 class="about-us_title">About Us</h2>
    <p class="about-us_text">
      A tristique nulla faucibus in quam metus, eget. Id eleifend arcu
      consectmetus, eget. Id eleifend arcu consectetur nunc.
    </p>
    <a href="#" download="#" class="about-us_download-btn">Download CV</a>
    <div class="about-us_option-list">
      <ul class="about-us_list">
        <li class="about-us_list-item">
          <button type="button" class="about-us_list-item-title">Skills</button>
        </li>
        <li class="about-us_list-item">
          <button
            type="button"
            class="about-us_list-item-title about-us_active-option"
          >
            Experience
          </button>
        </li>
        <li class="about-us_list-item">
          <button type="button" class="about-us_list-item-title">
            Education
          </button>
        </li>
      </ul>
      <div class="about-us_expirience">
        <ul class="about-us_expirience-list">
          <li class="about-us_expirience-list-item expirience-column_1">
            <span class="expirience-item-years">2021 - 2022</span>
            <p class="expirience-item-text">Lorem Ipsum</p>
          </li>
          <li class="about-us_expirience-list-item expirience-column_2">
            <p class="expirience-item-text">Senior Developer</p>
          </li>
          <li class="about-us_expirience-list-item expirience-column_3">
            <p class="expirience-item-text_2">
              A tristique nulla faucibus in quam metus, eget. Id eleifend arcu
              consectmetus, eget. Id eleifend arcu consectetur nunc.
            </p>
          </li>
        </ul>
        <ul class="about-us_expirience-list">
          <li class="about-us_expirience-list-item expirience-column_1">
            <span class="expirience-item-years">2021 - 2022</span>
            <p class="expirience-item-text">Lorem Ipsum</p>
          </li>
          <li class="about-us_expirience-list-item expirience-column_2">
            <p class="expirience-item-text">Senior Developer</p>
          </li>
          <li class="about-us_expirience-list-item expirience-column_3">
            <p class="expirience-item-text_2">
              A tristique nulla faucibus in quam metus, eget. Id eleifend arcu
              consectmetus, eget. Id eleifend arcu consectetur nunc.
            </p>
          </li>
        </ul>
        <ul class="about-us_expirience-list">
          <li class="about-us_expirience-list-item expirience-column_1">
            <span class="expirience-item-years">2021 - 2022</span>
            <p class="expirience-item-text">Lorem Ipsum</p>
          </li>
          <li class="about-us_expirience-list-item expirience-column_2">
            <p class="expirience-item-text">Senior Developer</p>
          </li>
          <li class="about-us_expirience-list-item expirience-column_3">
            <p class="expirience-item-text_2">
              A tristique nulla faucibus in quam metus, eget. Id eleifend arcu
              consectmetus, eget. Id eleifend arcu consectetur nunc.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
