<section class="contact-section" id="contact">
  <div class="container">
    <div class="contact-send-message">
      <div class="contact-message-editor">
        <svg width="40" height="40">
          <use href="./img/icons.svg#icon-letter-v-svgrepo-com"></use>
        </svg>
        <p class="send-message-subtitle">Let’s work Together</p>
      </div>
      <div class="send-message">
        <a
          href="https://www.fiverr.com/vladtsrez"
          class="send-message-button"
          target="_blank"
          >Send Message</a
        >
      </div>
    </div>

    <h2 class="contact-title">
      Let's make something amazing together Start By
      <span class="contact-title-marked-word">Saying Hi</span>
    </h2>
  </div>
</section>
