<header class="header">
  <div class="container header-container">
    <nav class="header-nav-list">
      <a class="header-logo" href="#">
        <svg class="header-logo-fiverr" width="28" height="28">
          <use href="./img/icons.svg#icon-fiverr"></use>
        </svg>
        <svg class="header-logo-letter" width="28" height="28">
          <use href="./img/icons.svg#icon-letter-t-svgrepo-com"></use>
        </svg>
        <svg class="header-logo-letter" width="28" height="28">
          <use href="./img/icons.svg#icon-letter-s-svgrepo-com"></use>
        </svg>
        <svg class="header-logo-letter" width="28" height="28">
          <use href="./img/icons.svg#icon-letter-v-svgrepo-com"></use>
        </svg>
        <svg class="header-logo-letter" width="28" height="28">
          <use href="./img/icons.svg#icon-letter-j-svgrepo-com"></use>
        </svg>
        <svg class="header-logo-letter" width="28" height="28">
          <use href="./img/icons.svg#icon-letter-h-svgrepo-com"></use>
        </svg>
        <svg class="header-logo-letter" width="28" height="28">
          <use href="./img/icons.svg#icon-letter-u-svgrepo-com"></use>
        </svg>
        <svg class="header-logo-letter" width="28" height="28">
          <use href="./img/icons.svg#icon-letter-n-svgrepo-com"></use>
        </svg>
      </a>
      <ul class="header-list">
        <li class="header-item">
          <a href="#" class="header-item-link">Home </a>
        </li>
        <li class="header-item">
          <a href="#" class="header-item-link">Portfolio</a>
        </li>
        <li class="header-item">
          <a href="#about_us" class="header-item-link">About Us</a>
        </li>
        <li class="header-item">
          <a href="#" class="header-item-link">Testimonial</a>
        </li>
        <li class="header-item">
          <a href="#" class="header-item-link">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
