<header class="header">
  <div class="container header-container">
    <nav class="header-nav-list">
      <a class="header-logo" href="#">
        <svg class="header-logo-fiverr" width="28" height="28">
          <use href="./img/icons.svg#icon-fiverr"></use>
        </svg>
        <svg class="header-logo-letter" width="28" height="28">
          <use href="./img/icons.svg#icon-letter-t-svgrepo-com"></use>
        </svg>
        <svg class="header-logo-letter" width="28" height="28">
          <use href="./img/icons.svg#icon-letter-s-svgrepo-com"></use>
        </svg>
        <svg class="header-logo-letter" width="28" height="28">
          <use href="./img/icons.svg#icon-letter-v-svgrepo-com"></use>
        </svg>
        <svg class="header-logo-letter" width="28" height="28">
          <use href="./img/icons.svg#icon-letter-j-svgrepo-com"></use>
        </svg>
        <svg class="header-logo-letter" width="28" height="28">
          <use href="./img/icons.svg#icon-letter-h-svgrepo-com"></use>
        </svg>
        <svg class="header-logo-letter" width="28" height="28">
          <use href="./img/icons.svg#icon-letter-u-svgrepo-com"></use>
        </svg>
        <svg class="header-logo-letter" width="28" height="28">
          <use href="./img/icons.svg#icon-letter-n-svgrepo-com"></use>
        </svg>
      </a>
      <ul class="header-list">
        <li class="header-item">
          <a href="#home" class="header-item-link">Home </a>
        </li>
        <li class="header-item">
          <a href="#portfolio" class="header-item-link">Portfolio</a>
        </li>
        <li class="header-item">
          <a href="#about_us" class="header-item-link">About Us</a>
        </li>
        <li class="header-item">
          <a href="#testimonial" class="header-item-link">Testimonial</a>
        </li>
        <li class="header-item">
          <a href="#contact" class="header-item-link">Contact</a>
        </li>
      </ul>
      <button type="button" id="open-menu">
        <svg width="30" height="30" class="svg-burger" id="open-btn">
          <use href="./img/icons.svg#icon-menu_hamburger"></use>
        </svg>
      </button>
      <div class="mob-menu" id="mobile-overlay">
        <button class="menu-close-btn" id="close-btn">
          <svg>
            <use href="./img/icons.svg#icon-close"></use>
          </svg>
        </button>
        <ul class="mob-menu-list">
          <li class="mob-menu-item">
            <a href="#home" class="mob-list-link">Home</a>
          </li>
          <li class="mob-menu-item">
            <a href="#portfolio" class="mob-list-link">Portfolio</a>
          </li>
          <li class="mob-menu-item">
            <a href="#about_us" class="mob-list-link">About Us</a>
          </li>
          <li class="mob-menu-item">
            <a href="#testimonial" class="mob-list-link">Testimonial</a>
          </li>
          <li class="mob-menu-item">
            <a href="#contact" class="mob-list-link">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
