<section class="hero-section">
  <div class="container hero-section-container">
    <div class="hero-container">
      <h1 class="hero-title">Hey There, <br />I’m Vladislav</h1>
      <p class="hero-text">
        A tristique nulla faucibus in quam metus, eget. Id eleifend arcu
        consectetur nunc, quam adipiscing.A tristique nulla faucibus in quam
        metus, eget. Id eleifend arcu consectetur nunc.
      </p>
      <a href="#" class="hero-btn">Explore Project</a>
      <span class="hero-star-1"><img src="./img/Star 2.png" alt="star" /></span>
      <span class="hero-star-2"><img src="./img/Star 2.png" alt="star" /></span>
    </div>
    <div class="hero-card-img"></div>
    <div class="hero-card-1">
      <ul class="hero-card-img-list">
        <li class="hero-card-img-item">
          <img src="./img/Ellipse 5.png" alt="" />
        </li>
        <li class="hero-card-img-item">
          <img src="./img/Ellipse 6.png" alt="" />
        </li>
        <li class="hero-card-img-item">
          <img src="./img/Ellipse 7.png" alt="" />
        </li>
      </ul>
      <p class="hero-card-text">
        <span class="hero-card-text-number">200+</span> clients Happy
      </p>
    </div>
    <div class="hero-card-2">
      <span class="hero-card-2-year">03</span>
      <p class="hero-card-2-text">Years of Experience</p>
    </div>
    <div class="hero-card-3">
      <span class="hero-card-3-logo"
        ><svg width="20" height="20" class="icon-mingcute_laptop">
          <use href="./../img/icons.svg#icon-mingcute_laptop"></use>
        </svg>
      </span>
      <p class="hero-card-3-text">Developer</p>
    </div>
    <span class="hero-arrow-1">
      <svg width="71.565" height="85.721">
        <use href="./../img/icons.svg#arrow-1"></use>
      </svg>
    </span>
    <span class="hero-arrow-2">
      <svg width="230.5" height="77.607">
        <use href="./../img/icons.svg#arrow-2"></use>
      </svg>
    </span>
  </div>
</section>
