<section class="portfolio" id="portfolio">
  <div class="radial-blur-circle_portfolio"></div>
  <div class="container portfolio-container">
    <h2 class="portfolio-title">All Creative Works Selected Project</h2>
    <p class="portfolio-text">
      Step into My Creative Video Editing Portfolio, where storytelling meets
      artistry. From breathtaking visuals to compelling narratives, each video
      is a testament to My versatile skills. Explore the magic of visual
      storytelling through My lens.
    </p>
  </div>
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <lite-youtube
          videoid="l7HvLIGlUvA"
          params="controls-1"
          style="top: 50%; left: 50%; transform: translate(-50%, -50%)"
        ></lite-youtube>
      </div>
      <div class="swiper-slide">
        <lite-youtube
          videoid="xCZm_sUFDdw"
          params="controls-1"
          style="top: 50%; left: 50%; transform: translate(-50%, -50%)"
        ></lite-youtube>
      </div>
      <div class="swiper-slide">
        <lite-youtube
          videoid="rSUhcwq7y5s"
          params="controls-1"
          style="top: 50%; left: 50%; transform: translate(-50%, -50%)"
        ></lite-youtube>
      </div>
      <div class="swiper-slide">
        <lite-youtube
          videoid="7GLE0B4enP0"
          params="controls-1"
          style="top: 50%; left: 50%; transform: translate(-50%, -50%)"
        ></lite-youtube>
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</section>
