<section class="portfolio">
  <div class="radial-blur-circle_portfolio"></div>
  <div class="container portfolio-container">
    <h2 class="portfolio-title">All Creative Works Selected Project</h2>
    <p class="portfolio-text">
      A tristique nulla faucibus in quam metus, eget. Id eleifend arcuA
      tristique nulla faucibus in quam metus, eget. Id eleifend arcu
      consectmetus, eget. Id eleifend arcu consectetur nunc. consectmetus, eget.
      Id eleifend arcu consectetur nunc.
    </p>
  </div>
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <iframe
          width="100%"
          height="100%"
          src="https://www.youtube.com/embed/l7HvLIGlUvA?si=bYfEDAPL1ijH4VZZ&amp;start=2"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
      <div class="swiper-slide">
        <iframe
          width="100%"
          height="100%"
          src="https://www.youtube.com/embed/xCZm_sUFDdw?si=h32XezqmRWL4SwBN&amp;start=2"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
      <div class="swiper-slide">
        <iframe
          width="100%"
          height="100%"
          src="https://www.youtube.com/embed/rSUhcwq7y5s?si=z5SxaimnmrpV2_GM&amp;start=2"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
      <div class="swiper-slide">
        <iframe
          width="100%"
          height="100%"
          src="https://www.youtube.com/embed/7GLE0B4enP0?si=vpn-iY0IdvQ68NHb&amp;start=2"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</section>
