<section class="testimoni-section" id="testimonial">
  <div class="container testimoni-container">
    <h2 class="testimoni-title">What They Say?</h2>
    <div class="testimoni">
      <div class="testimoni-img-wrapp">
        <div class="test">
          <img src="./img/rewiew.png" alt="rewiewer" class="testimoni-img" />
        </div>
      </div>
      <div class="testimoni-review">
        <div class="review-quote-brackets">
          <img src="./img/“.png" alt="''" />
        </div>
        <div class="review-description">
          <p class="review-text">
            He has really good skills, great communication. I can only recommend
            him and will definitely continue to work with him.
          </p>
          <p class="reviewer-name">honestvalue</p>
          <p class="reviewer-subtitle">
            Germany
            <svg width="20" height="20">
              <use href="../img/icons.svg#icon-germany-flag-icon"></use>
            </svg>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="radial-blur-circle"></div>
</section>
