<section class="testimoni-section" id="testimonial">
  <div class="container testimoni-container">
    <h2 class="testimoni-title">What They Say?</h2>
    <div class="testimoni">
      <div class="testimoni-img-wrapp">
        <div class="test">
          <img src="./img/rewiew.png" alt="rewiewer" class="testimoni-img" />
        </div>
      </div>
      <div class="testimoni-review">
        <div class="review-quote-brackets">
          <img src="./img/“.png" alt="''" />
        </div>
        <div class="review-description">
          <p class="review-text">
            Ac in enim sem elementum. Nisi, est a non libero interdum
            scelerisque neque, penatibus. Vitae, aliquam venenatis ac porta et.
            Et eu, interdum elit donec sit sapien mi. Ipsum neque nec
            pellentesque nullam habitant velit, in.
          </p>
          <p class="reviewer-name">Katrin Bousan</p>
          <p class="reviewer-subtitle">Lorem Ipsum</p>
        </div>
      </div>
    </div>
  </div>
  <div class="radial-blur-circle"></div>
</section>
