<section class="services-section">
  <div class="container services-container">
    <a
      href="https://www.fiverr.com/vladtsrez"
      class="services-links"
      target="_blank"
      rel="no-referrer"
    >
      <svg width="218" height="114" class="services-icon">
        <use href="./../img/icons.svg#icon-Fiverr-Logo-2020-present"></use>
      </svg>
    </a>
    <a
      href="https://www.upwork.com/freelancers/~017ae8a6229fbda7fa"
      class="services-links"
      target="_blank"
      rel="no-referrer"
    >
      <svg width="253" height="109" class="services-icon">
        <use
          href="./../img/icons.svg#icon-upworklogo-freelogovectorsnet_-1"
        ></use>
      </svg>
    </a>
    <a href="#" class="services-links" target="_blank" rel="no-referrer">
      <svg width="184" height="56" class="services-icon">
        <use href="./../img/icons.svg#toptal-icon"></use>
      </svg>
    </a>
    <a
      href="https://github.com/Vladtsrez"
      class="services-links"
      target="_blank"
      rel="no-referrer"
    >
      <svg width="184" height="56" class="services-icon">
        <use href="./../img/icons.svg#github-icon "></use>
      </svg>
    </a>
  </div>
</section>
