.about-us {
  padding: 48px 0;
  background-color: #23252A;
  position: relative;
  z-index: 999;
}

.container {}



.about-us_title {
  font-family: 'Lora', serif;
    font-size: 48px;
    font-weight: 600;
    line-height: normal;
    text-align: center;

    margin-bottom: 8px;
}

.about-us_text {
  text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;

    margin-bottom: 32px;
}

.about-us_download-btn {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: var(--BG, #000);

  border-radius: 30px;
  background: var(--Secondary, #D5F60C);
  padding: 8px;
  width: 200px;
  height: 48px;
  margin: 0 auto;
  margin-bottom: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 250ms ease-in-out;
}

.about-us_download-btn:hover,
.about-us_download-btn:active,
.about-us_download-btn:focus {
  background-color: var(--color-secondary);
  color: #fff;
}

.about-us_list {
display: flex;
position: relative;
justify-content: center;

  margin-bottom: 56px;
}

.about-us_list-item-title {
  background-color: transparent;
  border: none;
  color: #ffffff;

  font-family: Lora;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
    
  row-gap: 8px;
  width: 410px;
    
  transition: color 250ms ease-in-out;
  cursor: pointer;
}

.about-us_list-item-title:hover,
.about-us_list-item-title:active,
.about-us_list-item-title:focus {
    color: #D5F60C;
}

.about-us_list-item::after {
  content: '';
  transform: scale(0);

  transition: transform 300ms ease-in-out;
}

.about-us_list-item:hover::after {
content: '';
display: block;
width: 410px;
height: 2px;
transform: scale(1);
background-color: #D5F60C;
position: absolute;
bottom: -8px;
  border-radius: 4px;
}

.about-us_active-option {
  color: var(--Secondary, #D5F60C);

}

.about-us_active-option::after {
  content: '';
  display: block;
  width: 410px;
  height: 2px;
  transform: scale(1);
  background-color: #D5F60C;
  position: absolute;
  bottom: -8px;
}

.about-us_expirience {
display: flex;
flex-direction: column;
gap: 40px;
}


.about-us_expirience-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-us_expirience-list:not(:last-child){
    border-bottom: 1px solid #ffffff;
    padding-bottom: 20px;
}



.expirience-column_1 {
width: 180px;
margin-right: 10px;
}


.expirience-column_2 {
  width: 203px;
}

.expirience-column_3 {
  width: 400px;
}

.about-us_expirience-list-item {

}

.expirience-item-years {
  font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.expirience-item-text {
  font-family: 'Lora', serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.expirience-item-text_2 {
  font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


@media screen and (max-width: 768px) {
  .educ-btn {
    display: none;
  }

  .skills-btn {
    display: none;
  }

    .about-us_expirience-list {
      flex-direction: column;
      gap: 20px;
      justify-content: center;
      align-items: center;
    }

    .expirience-item-text {
      margin-top: 10px;
    }

  .expirience-column_1 {
    text-align: center;
  }

  .expirience-column_2 {
    width: 300px;
    text-align: center;
  }

    .expirience-column_3 {
      text-align: center;
    }
}

@media screen and (max-width: 435px) {
  .exp-btn {
    display: flex;
    justify-content: center;
  }

  .about-us_active-option::after {
      width: 320px;
      height: 2px;
      bottom: -8px;
    }

  .expirience-column_3 {
    width: 100%;
  }

  .about-us_list-item-title {
    width: 100%;
  }


}