.header-nav-list {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: auto;
  padding:28px 0;


}

.header-list {
  display: flex;
  gap: 40px;

}

.header-item-link {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;

  transition: color 250ms ease-in-out;
  padding: 28px 0;
}

.header-item-link:hover,
.header-item-link:focus,
.header-item-link:active {
  color: var(--color-green);
}

.header-logo-fiverr {
  fill: #fff;
  scale: 150%;
  margin-right: 20px;
}