.hero-section {
  padding: 110px 0 200px 0;
}

.hero-container {
  display: flex;
  flex-direction: column;
  max-width: 585px;
  position: relative;
}

.hero-container::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 21.5%;
  left: 15%;
  transform: translate(-50%, -50%);
  width: 488px;
  height: 113.061px;
  transform: rotate(-6.825deg);
  border-radius: 50%;
  border: 2px solid #4269F6;

}

.hero-title {
  font-family: 'Lora', serif;
  font-size: 80px;
  font-weight: 600;
  margin-bottom: 42px;

  cursor: default;
}

.hero-text {
  margin-bottom: 32px;

  font-size: 18px;
  font-weight: 400;

  cursor: default;
}

.hero-btn {
  border-radius: 30px;
  border: 1px solid var(--color-green);
  padding: 13px 41px;
  max-width: 201px;

  color: var(--color-green);
  font-size: 16px;
  font-weight: 600;

  transition: 250ms ease-in-out;
}

.hero-btn:hover {
  color: #4269F6;
  border-color: #4269F6;
}

.hero-star-1 {
  position: absolute;
  bottom: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.hero-section-container {
  position: relative;
  display: flex;
}

.hero-star-2 {
  position: absolute;
  top: 20%;
  right: 15%;
  transform: translate(-50%, -50%);
}

.hero-card-img {
  position: absolute;
  width: 400px;
  height: 627px;
  border-radius: 400px;
  background-color: #4269F6;

  right: 80px;
  top: -80px;
  z-index: -1;

  background-image: url(./../img/vlad-min.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150%;
}

.hero-card-1 {
  position: absolute;
  background-color: #fff;
  width: 148px;
  border-radius: 20px;
  background: var(--Tertiary, #23252A);
  box-shadow: 20px 20px 20px 0px rgba(24, 27, 36, 0.30);
  padding: 24px;
  right: 420px;
  top: 0;
  cursor: default;
}

.hero-card-text-number {
    transition: color 250ms ease-in-out;
}

.hero-card-1:hover .hero-card-text-number {
  color: var(--color-green);
}

.hero-card-img-list {
  display: flex;
}

.hero-card-img-item {
  position: absolute;
}

.hero-card-img-item:nth-child(2) {
  left: 20px;
}

.hero-card-img-item:nth-child(3) {
  left: 40px;
}



.hero-card-text {
  margin-top: 50px;
  font-size: 16px;
  font-weight: 600;
}



.hero-card-2 {
  position: absolute;
  padding: 16px 24px;
  width: 210px;
  border-radius: 20px;
  background: var(--Tertiary, #23252A);
  box-shadow: 20px 20px 20px 0px rgba(24, 27, 36, 0.30);
  display: flex;
  align-items: center;
  gap: 8px;
  right: 350px;
  bottom: -50px;
  cursor: default;
}

.hero-card-2-year {
  transition: color 250ms ease-in-out;
}

.hero-card-2:hover .hero-card-2-year {
  color: var(--color-green);
}

.hero-card-2-year {
  font-family: 'Lora', serif;
  font-size: 32px;
  font-weight: 600;
}

.hero-card-2-text {
  font-size: 16px;
  font-weight: 600;
}

.hero-card-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  border-radius: 20px;
  background: var(--Tertiary, #23252A);
  box-shadow: 20px 20px 20px 0px rgba(24, 27, 36, 0.30);
  padding: 16px;
  height: 62px;
  cursor: default;
  right: 0;
  top: 255px;
}

.hero-card-3-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #4269F6;
  border-radius: 50%;
}


.icon-mingcute_laptop {
  fill: #ffffff;

  transition: fill 250ms ease-in-out;
}

.hero-card-3:hover .icon-mingcute_laptop {
    fill: var(--color-green);
}

.hero-arrow-1 {
  position: absolute;
  top: -100px;
  right: 450px;
}

.hero-arrow-2 {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  top: 280px;
  right: 380px;
  
}



@media screen and (max-width: 1024px) {
  .hero-card-img {
    right: 15px;
    top: -80px;
  }

  .hero-card-1 {
    right: 330px;
    top: 0;
  }

  .hero-card-2 {
    transform: scale(90%);
    right: 300px;
    bottom: -80px;
  }

  .hero-card-3 {
    right: 0;
    top: 15px;
    transform: scale(90%);
  }

  .hero-arrow-2 {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    top: 470px;
    right: 320px;

  }

  .hero-arrow-1 {
    position: absolute;
    top: -100px;
    right: 350px;
  }

  .hero-container::after {
    top: 38.5%;
    left: 55%;
    transform: translate(-50%, -50%) rotate(-10.825deg);
    width: 388px;
    height: 83.061px;
  }

  .hero-star-1 {
    bottom: 40%;
    left: 30%;
    transform: translate(-50%, -50%);

  }

  .hero-star-2 {
    top: 24%;
    right: 15%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 768px) {
  .hero-title {
    font-family: 'Lora', serif;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 42px;
    width: 350px;
  
    cursor: default;
  }

    .hero-card-1 {
      display: none;
    }

    .hero-card-2 {
      transform: scale(90%);
      right: 300px;
      bottom: -80px;
    }

  .hero-card-3 {
    right: 0;
    top: 15px;
    transform: scale(90%);
  }

.hero-arrow-2 {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  top: 470px;
  right: 320px;
  
}

.hero-arrow-1 {
  position: absolute;
  top: -100px;
  right: 350px;
}

.hero-container::after {
  top: 23.5%;
  left: 55%;
  transform: translate(-50%, -50%) rotate(-10.825deg);;
  width: 288px;
  height: 83.061px;
}

.hero-star-1 {
  bottom: 56.5%;
  left: 25%;
  transform: translate(-50%, -50%);

}

.hero-star-2 {
  top: 10.5%;
  right: 10%;
  transform: translate(-50%, -50%);
}

.hero-text {
    width: 330px;
}
}

@media screen and (max-width: 755px) {

  .hero-section-container {
    align-items: center;
    justify-content: center;
  }
    .hero-section {
      padding: 80px 0;
    }

    .hero-container {
      justify-content: center;
      align-items: center;
    }

.hero-container::after {
  top: 24.5%;
  left: 65%;
  transform: translate(-50%, -50%) rotate(-10.825deg);
  width: 220px;
  height: 73.061px;
}

.hero-star-1 {
  bottom: 57.5%;
  left: 45%;
  transform: translate(-50%, -50%) scale(90%) rotate(5deg);
}

.hero-star-2 {
  top: 15.5%;
  right: 0;
  transform: translate(-50%, -50%) rotate(5deg) scale(95%);
}

.hero-arrow-1 {
  position: absolute;
  top: 250px;
  right: 280px;
}

.hero-arrow-2 {
  display: none;
}

    .hero-text {
      text-align: center;
    }

    .hero-title {
      text-align: center;
    }

    .hero-card-img {
        display: none;
      }
    
      .hero-card-1 {
        display: none;
      }
    
      .hero-card-2 {
        display: none;
      }
    
      .hero-card-3 {
        display: none;
      }
}
