.services-section {
  background-color: #4269F6;
  padding: 20px 0;
}

.container {}

.services-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.services-icon {

  fill: #8EA5FA;
  transition: fill 200ms ease-in-out, transform 200ms ease-in-out;
}

.services-icon:hover {
  fill: var(--color-green);
  transform: translate(0, -5px);
}

