/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero-section.css');
@import url('./services-section.css');
@import url('./about-us.css');
@import url('./testimoni.css');
@import url('./contact.css');

:root {
  --color-green: #D5F60C;
  --color-secondary: #4269F6; 
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #000000;
  color: #ffffff;
}

.container {
  max-width: 1300px;
  padding: 0 15px;
  margin: 0 auto;
}

p, h1, h2, h3, h4 {
  cursor: default;
}